@import '../../shared/variables.scss';

.PopUp{
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 70px;
	right: 60px; 
	width: 400px;
	height: 200px;  
	background: $header-bg-color;
	z-index: 1; 
	.inputs{
		background: $bg-inside-popup;
		position: relative;
		width: 97%;
		height: 80%;
		margin: 1.5% auto; 
		.cross{
			position: absolute;
			top: 0px;
			right: 0px;
			background: $header-bg-color;  
			padding: 0 8px 2px 3px; 
			cursor: pointer;
			color: darken($header-bg-color, 30%);
		}
	}
	.popUpConfirm{
		align-self: flex-end; 
		margin-right: 3%; 
		cursor: pointer;
		color: white;
	}
}

.inputs{
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.row{
		color: $header-bg-color;
		display: flex;
		width: 70%; 
		justify-content: space-between;
		align-items: center;
		margin-top: 10px; 
		input{
			@include inputs();
			padding-left: 5px; 
			border: 1px solid $header-bg-color;
		}
	} 
}


//temporary fix
#test{
	display: flex;
}

#test2{  
	justify-content: space-between;
}

#test3{  
	justify-content: space-between;
}
